@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');



@font-face{
	font-family: ftw;
	src: url("./fonts/first_time_writing/FirstTimeWriting.ttf");
}




@font-face {
    font-family: ABC; /* Гарнитура шрифта */
    src: url('./fonts/AlphabetLoreFontRegular.ttf'); /* Путь к файлу со шрифтом */
   }

 @font-face {
    font-family: yunga;
    src: url("./fonts/younga/YUNGA-Display.otf") format("opentype");
} 


/*В 2019 году мы праздновали столетие Баухаус, в 2020-м году отмечаем юбилей ВХУТЕМАС и УНОВИС - школ, в которых родились конструктивизм и супрематизм.
В честь этих событий я создал бесплатный супрематический шрифт.
Основан на леттеринге Малевича (из плаката Доктор Мабузо) и шрифтовых экспериментах Йозефа Альберса.
Подходит для дизайна плакатов, логотипов и коротких заголовков.

Вы можете использовать его для коммерческой работы и делиться (с указанием имени автора).
Запрещено продавать и модифицировать.

https://www.behance.net/Denis_Masharov
*/
@font-face {
    font-family: UNOVIS100;
    src: url("./fonts/UNOVIS100/UNOVIS100.otf") format("opentype");
}
/*В 2019 году мы праздновали столетие Баухаус, в 2020-м году отмечаем юбилей ВХУТЕМАС и УНОВИС - школ, в которых родились конструктивизм и супрематизм.
В честь этих событий я создал бесплатный супрематический шрифт.
Основан на леттеринге Малевича (из плаката Доктор Мабузо) и шрифтовых экспериментах Йозефа Альберса.
Подходит для дизайна плакатов, логотипов и коротких заголовков.

Вы можете использовать его для коммерческой работы и делиться (с указанием имени автора).
Запрещено продавать и модифицировать.

https://www.behance.net/Denis_Masharov
*/
/*
BLUP разработан Александрой Арсентьевой в Школе дизайна НИУ ВШЭ 
*/
@font-face{
	font-family: blup;
	src: url("./fonts/blup/blup-Regular_final.ttf");
}/*
BLUP разработан Александрой Арсентьевой в Школе дизайна НИУ ВШЭ 
*/




/*hard lvl*/

@font-face{
	font-family: iamblock;
	src: url("./fonts/iamblock/iamblock-monospace.otf");
}
/*
BRAT Этот шрифт распространяется по лицензии Creative Commons.
Единственное условие бесплатного использования шрифта — это указание авторства в виде: Брат разработан Александрой Ботвиновой в Школе дизайна НИУ ВШЭ 
*/
@font-face{
	font-family: brat;
	src: url("./fonts/brat/Brat8.ttf");
}
/*
BRAT Этот шрифт распространяется по лицензии Creative Commons.
Единственное условие бесплатного использования шрифта — это указание авторства в виде: Брат разработан Александрой Ботвиновой в Школе дизайна НИУ ВШЭ 
*/


@font-face{
	font-family: kablammo;
	src: url("./fonts/kablammo/fonts/variable/Kablammo[MUTA].ttf");
}


.button:disabled{
  border: 0.1vh solid #999999;
  background-color: #cccccc;
  color: #666666;

  opacity: 0.7;
       -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/


}

.button:active{
	background-color: none;
}



#test{
	display: none;
	font-family: "yunga";
	color: RED;
	font-size: 5rem;
}

#locale{

    font-family: 'Noto Color Emoji', sans-serif;

}


#locale_block{
	display: flex;
	
	
	flex-direction: row-reverse;

	
	color: #FFF;
	


}
#locale_block>button{
	display: flex;
	
	color: black;
	font-size: 3vh;
	justify-content: center;
	align-items: center;
	background-color: #d8e9f7;
	border: 0.2vh 0.2vw solid green;
	border-radius: 1vh;


}

*{
	box-sizing: border-box;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
}

body{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;

	


	display: flex;
	
	justify-content: center;
	align-items: center;
	background-color: #e9e9e9;
	font-family: 'ftw', cursive;
	overflow: hidden;

	



}

#LOL{
	display: flex;
	overflow: hidden;
	position: fixed;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	z-index: 5;
	color: GREEN;
	flex-direction: column;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/

}


.spinner {
    height: 0.7vh;
    width: 0.7vw;
    border-left: 0.7vh solid greenyellow;
    border-bottom: 0.7vh solid greenyellow;
    border-right: 0.7vh solid greenyellow;
    border-top: 0.7vh solid transparent;
    border-radius: 50vh;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
 
    to {
        transform: rotate(360deg);
    }
}


#img{
	display: flex;
	font-size: 15vh;
	background-image: url("LOGO.png");
	font-family: "ABC";
	color: GREY;
}


#ava{
	overflow: hidden;
	display: none;
	justify-content: flex-start;
	border: 1px solid black;
	border-radius: 50% 50%;
	
	width: 100px;
	height: 100px;
	
}
#header{

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;

}

#body{
	
	max-height: 100vh;
	/*width: 97.5vw;*/
	/*width: 750px;*/
	/*background-color: #e9e9e9;*/


	height: 100vh;
	max-width: 97vw;

	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	
	flex-direction: column;
	-webkit-text-size-adjust: none;


}

#right_b{
	display: flex;
	justify-content: space-between;

	
	

}

#count{
	margin-top: 3vh;
	display: flex;
	
	
	
	
	
	
	color: #520000;
	justify-content: space-between;
	font-size: 7vh;
	line-height: 15vh;
	
	/*safari shit*/
    cursor: default;
	-webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}


#ask_value{

    	/*safari shit*/
    cursor: default;
	

	-webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18vh;
	border: 0.1vh solid #B2AE79;
	border-radius: 25vh;
	width: 55vw;
	height: 30vh;
	
	background-color: rgb(118, 111, 111);
	color: #560319;

	
	
}

#input_value{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 95vw;
	justify-content: space-around;
	
	margin-top: 10vh;
}




#buttons{
	display: flex;
	
	height: 20vh;
	width: 65vw;
	

	justify-content: space-around;
	align-items: flex-start;
	
	/*background-color: red;*/
	


}

#buttons>button{
	
	display: flex;

	background-color: white; 
    color: #371E37; 
    border: 0.2px solid #C392C1;
    border-radius: 4em;
    font-size: 8vh;
    font-family: ftw;
    position: relative;
    cursor: pointer;
    width: 20vw;

    justify-content: center;
    align-items: center;
    flex-grow: 0;

    
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/

}



/*
#buttons>button:hover{
	background-color: #f44336;
    color: white;
}
*/

form{
	display: none;
}

#locale_block{
	
	color: #FFF;
	font-size: 1vh;
	height: 10vh;


	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
	
}

#score_view{
	display: flex;
	flex-direction: column;
	width: 97vw;
	justify-content: flex-start;
	align-content: flex-start;
	       -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
}
.score{
	display: flex;
	color: green;
	       -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
    font-size: 5vmin;
}
#best_score{
	display: flex;
	color: red;
	       -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
    font-size: 5vmin;
}


#adv_block_flex{
	position: absolute;
	display: none;

	width: 100vw;
	height: 100vh;
	position: fixed;
    background-color: white;
	justify-content: center;
	align-items: center;
	z-index: 6;
}
#adv_block{
	display: flex;
	font-family: 'sunnyspell';
	font-size: 8vmin;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
