@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;700&display=swap');

body{
	margin: 0;
	padding: 0;
	width: 90vw;
	height: 90vh;

	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #7AB7AB;
	font-family: 'Phudu', cursive;
	line-height: 50vh;


}


#body{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;


}
#count{
	margin-top: 3%;
	display: flex;
	line-height: 5%;
	position: relative;
	color: #520000;
	justify-content: flex-end;
	font-size: 3vw;
}


#ask_value{
	    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25vw;
	color: pink;
	border: 1px solid #B2AE79;
	border-radius: 50% 50%;
	width: 45vw;
	background-color: #B7EAE0;
	color: #A00FDA;
	position: relative;
	min-width: 300px;
	max-height: 350px;
	max-width: 350px;
	max-width: 350px;
	margin-left: 5vh;
	margin-top: 10%;
}

#input_value{
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	margin-top: 10vh;
}




#buttons{
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	position: relative;

}

#buttons>button{
	margin-right: 5%;
	display: flex;

	background-color: white; 
    color: #371E37; 
    border: 2px solid #C392C1;
    border-radius: 25% 10%;
    font-size: 15vw;
    font-family: 'Phudu', cursive;
    position: relative;

}

/*
#buttons>button:hover{
	background-color: #f44336;
    color: white;
}
*/

form{
	display: none;
}